<!DOCTYPE html>
<html lang="en">
<%- include("partials/_header.ejs")-%>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_horizontal-navbar.html -->
     
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <div class="main-panel">
          <div class="content-wrapper pb-0">
            <div class="row justify-content-center">
              <div class="col-lg-4">
                <div class="card" >
                  <div class="card-body overflow-auto" style="min-height:80vh;max-height:80vh;">

                    <h3 class="heading text-center">Login</h3>
                    <%- include("partials/_session_messages.ejs") -%>
                    <form action="login" method="POST" id="login-form"  class="row">

                      <div class="form-group col-lg-12">
                        <label for="">Email or Phone</label>
                        <input name="username" type="text" class="form-control" placeholder="Phone or Email">
                      </div>
  
                      <div class="form-group col-lg-12">
                        <label for="">Password</label>
                        <input name="password" type="password" class="form-control" placeholder="Password">
                      </div>

                      <div class="col-lg-12">
                        <div class="row">
                          <div class="col-lg-12">
                            <button class="btn btn-primary btn-sm">Submit</button>
                          </div>
                        </div>
                      </div>
                    </form>
                    <br>
                    <p class="text-center">Don't have an account? Register <a href="register">Here</a> </p>

                  </div>
                </div>
              </div>
            </div>


          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <%- include("partials/_footer.ejs") -%>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <%- include("partials/_scripts.ejs") -%>
  </body>
</html>