<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Property System</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="assets/vendors/jquery-bar-rating/css-stars.css" />
    <link rel="stylesheet" href="assets/vendors/font-awesome/css/font-awesome.min.css" />
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="assets/css/demo_2/style.css" />
    <!-- End layout styles -->
    <link rel="shortcut icon" href="assets/images/favicon.png" />

    <style>
    
    .form-control, .form-control *{
      min-height:50px;
      background-color:transparent !important;
      border:1px solid lightgrey !important;
      border-radius:0px !important;
      outline:none !important;
    }

    select,.form-control-sm{
      border-radius:0px !important;
    }

    .d-flex{
      display:flex;
      flex-direction:row;
      align-items:center;
      gap:4px;
    }

    .d-flex .icon{
      font-size:19pt;
    }


    .card, .card img{
      border-radius:.5rem;
    }

   .card input,.card select,  nav input{
      border-radius:.5rem !important;
    }

    .card {
      box-shadow:0px 0px 6px lightgrey !important;
    }

    .card .card{
      box-shadow:none !important;
      border:none;
      outline:none;
    }

    .nav-item input{
      padding: 5px !important;
      border-radius:.5rem !important;
    }

    </style>
  </head>