<% if(message.success){%>
    <div>
        <p class="alert alert-success"><%=message.success%></p>
    </div>
<%}%>

<% if(message.error){%>
    <div>
        <p class="alert alert-danger"><%=message.error%></p>
    </div>
<%}%>